body {
	background-color: grey;
	margin: 0;
}

#wrapper {
	text-align: center;
}

/* canvas */

canvas {
	border: 2px solid black;
	width: 600px;
	height: 400px;
	background-color: white;
	border-radius: 10px;
}

/* colors */

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#redColor {
	/* background-color: red; */
	/* background-color: #ff0000; */
	/* background-color: #f00; */
	background-color: rgb(255, 0, 0);
}

#blueColor {
	background-color: blue;
}

#yellowColor {
	background-color: yellow;
}

.colorCircle {
	border: 5px solid black;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 50%;
	display: inline-block;
}

/* Buttons */

#openPickerButton {
	padding: 10px;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 10px;
	font-size: 18px;
}

#openPickerButton:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

/* COLOR PICKER TABLE */

#pickerDiv {
	display: inline-block;
	visibility: hidden;
}

#preview {
	width: 70px;
	height: 100px;
	border: 1px solid black;
}

#saveColorButton {
	width: 100%;
}



